viewer
Makefile

Rootfiles/

gem/obj/
gem/moc/
gem/lib/
gem/Makefile
gem/example/Makefile

decoder/obj/
decoder/moc/
decoder/lib/
decoder/Makefile
decoder/example/Makefile

gui/obj/
gui/moc/
gui/example/
gui/Makefile
gui/database/gem_ped*.dat
gui/database/Common*.txt
gui/database/*bkp
gui/database/*.root

fadc/obj/
fadc/moc/
fadc/fadc
fadc/Makefile

epics/obj/
epics/lib/
epics/moc/
epics/Makefile

scripts/tmp_plots/
scripts/*.pdf
scripts/*.png
scripts/Alignment_scripts/*.root
scripts/Alignment_scripts/*.dat
scripts/Alignment_scripts/*.txt

tracking_dev/Makefile.tracking_dev_app
tracking_dev/lib/
tracking_dev/moc_Viewer.cpp
tracking_dev/moc_predefs.h
tracking_dev/obj/
tracking_dev/moc/
tracking_viewer

.vscode/
.qmake.stash
*.evio.*

bin/
!/bin/.gitkeep
replay/Makefile
replay/moc/
replay/obj/
replay/lib/


