viewer
Makefile

Rootfiles/

gem/obj/
gem/moc/
gem/lib/
gem/Makefile
gem/example/Makefile

decoder/obj/
decoder/moc/
decoder/lib/
decoder/Makefile
decoder/example/Makefile

gui/obj/
gui/moc/
gui/example/
gui/Makefile
gui/database/gem_ped*.dat
gui/database/Common*.txt
gui/database/*bkp

fadc/obj/
fadc/moc/
fadc/fadc
fadc/Makefile

epics/obj/
epics/lib/
epics/moc/
epics/Makefile

scripts/tmp_plots/
scripts/*.pdf
scripts/*.png

.qmake.stash
